<h1>Vega</h1>
<p>Welcome to Vega - your home for cars with style</p>
<br/>

<div>
    <img id="title" src="https://images.unsplash.com/photo-1514316703755-dca7d7d9d882?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6473b566de45097afb162e6de0620464&auto=format&fit=crop&w=1350&q=80" alt="Moonlambo">
</div>

<p>This site was made with -</p>

<br/>

<ul>
    <li><a href='https://get.asp.net/'>ASP.NET Core</a> and <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> for cross-platform server-side code</li>
    <li><a href='https://angular.io/'>Angular</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> for client-side code</li>
    <li><a href='https://webpack.github.io/'>Webpack</a> for building and bundling client-side resources</li>
    <li><a href='http://getbootstrap.com/'>Bootstrap</a> for layout and styling</li>
</ul>
